* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
  background: #715bb2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2657eb,
    #de6161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2657eb,
    #de6161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
